* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif, Arial;
    Background-image: linear-gradient(45deg, purple, #1c2a4b);
}

h2 {
    text-align: center;
}

label {
    padding-left: 0px;
    padding-bottom: 10px;
}


section {
    box-shadow: 0 8px 30px 1px black;
    background-color: white;
}

header {
    background-color: white;
}

.file-upload {
    margin-left: 25px;
    background-image: linear-gradient(45deg, purple, #1c2a4b);
    border: 3px solid #1c2a4b;
    padding: 20px;
    border-radius: 25px;
    color: white;
}

.label,file-upload{
    padding: 20px;
}
/*-------------------------------Personal-header----------------------------------------------------------------------------------------*/
.persona {
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
    color: white;
    border-bottom: 10px solid white;
    background-image: linear-gradient(45deg, #1c2a4b, purple);
}

/*------------------------------------------------personal------------------------------------------------------------------------*/
#pers {
    width: 50%;
    margin: auto;
    border: 5px solid #1c2a4b;
}

.person {
    margin-top: 12px;
    border: 3px solid #1c2a4b;
    border-radius: 25px;
}

#personal {
    padding: 5px;
}

/*------------------------------------------------personal-text------------------------------------------------------------------------*/

textarea {
    font-family: sans-serif, Arial;
    border: 3px solid #1c2a4b;
    border-radius: 15px;
    resize: none;
}

textarea:focus {
    background-color: aliceblue;
    font-family: sans-serif, Arial;
    border: 5px solid lawngreen;
    padding: 0;
}

/*------------------------------------------------Contact------------------------------------------------------------------------*/
#contacts {
    width: 50%;
    margin: auto;
    border: 5px solid #1c2a4b;
}

#contact {
    padding: 5px;
}

.contact {
    margin-left: 10%;
    margin-top: 10px;
    padding: 12px;
    width: 250px;
    border-radius: 25px;
    border: 3px solid #1c2a4b;
}

.contact, label {
    margin-left: 25px;
}

/*------------------------------------------------------------------------------------------------------------------------*/

.date {
    width: 40%;
    border-radius: 25px;
    border: 3px solid #1c2a4b;
    padding: 10px;
    margin-left: 0px;
    margin-top: 10px;
}

.date:focus {
    border: 5px solid lawngreen;
    padding: 0.53em;
    background-color: aliceblue;
}

/*-------------------------------------------------input-----------------------------------------------------------------------*/

input[type=text]:focus {
    border: 5px solid lawngreen;
    padding: 0.66em;
    background-color: aliceblue;
}

/*-------------------------------------------------skills-----------------------------------------------------------------------*/

#skillers {
    width: 50%;
    margin: auto;
    border: 5px solid #1c2a4b;
}

#skills {
    padding: 5px;
    width: 100%;
}

.skill1 {
    margin-left: 25px;
}

input {
    border-radius: 25px;
    padding: 12px;
    border: 3px solid #1c2a4b;
    margin-left: 25px;

}

input[type="file"] {
    display: none;
    text-decoration-color: white;
}







