* {
    background-color: silver;
    letter-spacing: 2px;
}

.container {
    padding-left: 160px;
    padding-top: 15px;
    display: block;
    align-items: center;
    justify-content: center;
}

.container h1 {
    padding-left: 40px;
    font-size: 40px;
    color: black;
}

.container h3 {
    font-size: 30px;
    color: #b21f2d;
}

.container ol {
    padding-right: 40px;
    color: #b21f2d;
    font-size: 20px;
}

.container ol li {
    padding-left: 10px;
    padding-top: 25px;
    color: tomato;
    list-style: none;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    color: black;
}

p {
    padding-top: 15px;
    color: black;
}
.container .made-by {
    font-size: 25px;
    color: black;
}