/*--BORDEAUX--*/

* {
    /*--sizing--*/
    padding: 0;
    margin: 0;
    /*--borders--*/
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    Background-image: linear-gradient(360deg, #C6C6C6, white);
}

h2 {
    text-align: center;
    padding: 30px;
}

label {
    padding-left: 0px;
    padding-bottom: 10px;
}

section {
    box-shadow: 0 8px 30px 1px black;
    background-color: white;
}

/*---------------------------------Names---------------------------------------------------------------------------------*/

div#names {
    display: inline-block;
}

.firstname {
    margin-left: 1.5vw;
}

.insertion {
    margin-left: 10vw;
}

.lastname {
    margin-left: 11vw;
}

/*-----------------------------LOCATION-------------------------------------------------------------------------------------------*/

#location {
    padding-top: 10px;
    display: inline-block;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

.city {
    margin-left: 1.5vw;
}

.street {
    margin-left: 13vw;
}

.postcode {
    margin-left: 10vw;
}

/*-------------------------------------HOBBY---------------------------------------------------------------------------------*/
#hobby {
    padding-top: 10px;
}

/*-------------------------------------CONTACT----------------------------------------------------------------------------*/

#contact {
    padding-top: 10px;
    display: inline-block;
}

.email {
    margin-left: 1.5vw;
}

.telephone {
    margin-left: 12vw;
    padding: 5px;
}

.linkedin {
    margin-left: 10.3vw;
}

/*-------------------------------Personal-header--------------------------------------------------------------------------------*/

.persona {
    /*--sizing--*/
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    /*--edits--*/
    box-shadow: 0 8px 35px 1px black;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /*--borders--*/
    color: white;
    border-bottom: 3px solid black;
    background-color: darkgrey;
}

/*--------------------------------personal------------------------------------------------------------------------------*/

#pers {
    /*--sizing--*/
    margin: auto;
    width: 50%;
    /*--borders--*/
    border: 2px solid black;
    border-bottom: 2px solid darkgrey;
}

.person {
    /*-- sizing--*/
    width: 28%;
    margin-top: 12px;
    /*--borders--*/
    border: 2px solid grey;
    border-radius: 5px;
}

/*--------------------------------ersonal-text---------------------------------------------------------------------------*/

textarea {
    /*--sizing--*/
    width: 90%;
    padding: 10px;
    margin-left: 30px;
    margin-top: 12px;
    /*--edits--*/
    outline: none;
    font-family: sans-serif, Arial;
    resize: none;
    /*--borders--*/
    border: 2px solid grey;
    border-radius: 5px;
}

textarea:focus {
    /*--edits--*/
    font-family: sans-serif, Arial;
    /*--borders--*/
    border: 2px solid #004877;
}

/*----------------------------Contact-----------------------------------------------------------------------------------*/

#contacts {
    /*--sizing'--*/
    width: 50%;
    margin: auto;
    /*--borders--*/
    border: 2px solid black;
    border-top: 2px solid darkgrey;
    border-bottom: 2px solid darkgrey;
}

.contact, label {
    margin-left: 25px;
}


/*----------------------------date--------------------------------------------------------------------------------------*/

.date {
    /*--sizing--*/
    width: 26%;
    padding: 8px;
    margin-left: 25px;
    margin-top: 10px;
    /*--borders--*/
    border-radius: 5px;
    border: 2px solid grey;
}

.date:focus {
    border: 2px solid #004877;
    padding: 8px;
}

/*----------------------------------Input--------------------------------------------------------------------------------*/

input {
    /*--sizing--*/
    width: 28%;
    margin-left: 25px;
    margin-top: 12px;
    padding: 12px;
    /*--edits--*/
    outline: none;
    /*--borders--*/
    border: 2px solid grey;
    border-radius: 5px;
}

input[type=text]:focus {
    border: 2px solid #004877;
}

/*-------------------------------Skillers--------------------------------------------------------------------------------*/

#skillers {
    width: 50%;
    margin: auto;
    border: 2px solid black;
    border-top: 2px solid darkgrey;
}

#skills {
    padding: 5px;
    width: 100%;
}

.skill1 {
    margin-left: 1.5rem;
    margin-top: 1rem;
    width: 28%;
}


/*------------------------------Level Hovers----------------------------------------------------------------------------*/

.level1:hover {
    background-color: #004877;
    color: white;
}

.level2:hover {
    background-color: #004877;
    color: white;
}

.level3:hover {
    background-color: #004877;
    color: white;
}

.level4:hover {
    background-color: #004877;
    color: white;
}

.level5:hover {
    background-color: #004877;
    color: white;
}

.level6:hover {
    background-color: #004877;
    color: white;
}

/*---------------------------------------------------------LEVELS--------------------------------------------------------*/

.level1 {
    /*seizing*/
    margin-top: 1rem;
    margin-left: -0.3em;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    position: absolute;
    /*borders*/
    border-radius: 5px;
    border: 2px solid darkgrey;
}

.level2 {
    /*seizing*/
    margin-top: 0.7rem;
    margin-left: -0.3em;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    border-radius: 5px;
    /*borders*/
    position: absolute;
    border: 2px solid darkgrey;
}

.level3 {
    /*seizing*/
    margin-top: 0.7rem;
    margin-left: -0.3em;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    border-radius: 5px;
    /*borders*/
    position: absolute;
    border: 2px solid darkgrey;
}

.level4 {
    /*seizing*/
    margin-top: 1rem;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    border-radius: 5px;
    /*borders*/
    position: absolute;
    border: 2px solid darkgrey;
}

.level5 {
    /*seizing*/
    margin-top: 0.7rem;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    border-radius: 5px;
    /*borders*/
    position: absolute;
    border: 2px solid darkgrey;
}

.level6 {
    /*seizing*/
    margin-top: 0.7rem;
    height: 3.3rem;
    width: 2.5em;
    /*edits*/
    border-radius: 5px;
    /*borders*/
    position: absolute;
    border: 2px solid darkgrey;
}

/*--------------------------------------SKILLS 2 T/M 6-------------------------------------------------------------------*/
.skill2 {
    margin-left: 1.5rem;
    width: 28%;
}

.skill3 {
    margin-left: 1.5rem;
    width: 28%;
}

.skill4 {
    margin-left: 12rem;
    width: 28%;
}

.skill5 {
    margin-left: 12rem;
    width: 28%;
}

.skill6 {
    margin-left: 12rem;
    width: 28%;
}

/*-------------------------------------------WORK-HISTORY---------------------------------------------------------------*/
.workhis1 {
    margin-top: 12px;
    width: 28%;
    height: 10em;
}

.workhis2 {
    margin-left: 1.5rem;
    width: 28%;
    height: 10em;
}

.workhis3 {
    margin-top: -8.5rem;
    float: right;
    margin-right: 2rem;
    width: 28%;
    height: 10em;
}

/*-------------------------------------------------Knopje-------------------------------------------------------------------------*/
#knopje {
    margin-left: 26rem;
    width: 150px;
    border-radius: 10px;
}

#knopje:hover {
    background-color: #1c2a4b;
    color: white;
}
